<main class="container_certificados">

    <div class="element_cert">
        
        <p class="text-element_cert">Certificado de admision</p>
        <img class="certificado-img" src="img/Certificado_de_Admision.webp" alt="Certificado admisión"
            data-value="Certificado admisión" id="Certi_Admision">

    </div>

    <div class="element_cert">

        <p class="text-element_cert">Certificado matricula</p>
        <img class="certificado-img" src="img/Certificado_Matricula.webp" alt="Certificado Matrícula"
            data-value="Certificado Matrícula" id="Certi_Matri">

    </div>


    <div class="element_cert">

        <p class="text-element_cert">Certificado Sapiensa</p>
        <img class="certificado-img" src="img/Certificado_Sapiensa.webp" alt="Certificado sapiencia"
            data-value="Certificado sapiencia" id="Certi_Sapi">

    </div>


    <div class="element_cert">
        <p class="text-element_cert">Certificado renovacion fondo EPM</p>
        <img class="certificado-img" src="img/Certificado_Renovacion_Fondo_EPM.webp"
            alt="Certificado renovación fondo EPM" data-value="Certificado renovación fondo EPM" id="Certi_Epm">
    </div>


    <div class="element_cert">

        <div class="content-wrapper">
        <p class="text-element_cert">Certificado calificaciones toda la carrera</p>
        <img class="certificado-img" src="img/Certificado_calificaciones_toda_la_carrera.webp"
            alt="Certificado calificaciones toda la carrera" data-value="Certificado calificaciones toda la carrera"
            id="Certi_Carrera">
        </div>
    </div>


    <div class="element_cert">
        <label for="rating2" class="label-element_cert">
            <input type="checkbox" id="rating2" name="rating2">
            <div class="front">
                <p class="text-element_cert">Certificado calificaciones semestre anterior</p>
                <img class="certificado-img" src="img/Certificado_calificaciones_semestre_anterior.webp"
                    alt="Certificado calificaciones semestre anterior"
                    data-value="Certificado calificaciones semestre anterior" id="Certi_Semes_Ante">
            </div>
            <div class="back">
                <form class="MyForm" id="myForm">
                    <select class="MySelect-form" id="mySelect" name="mySelect"></select>
                    <p class="text-form" id="selectedText"></p>
                    <button class="button-form" type="submit">
                        <img src="img/Boton_Continuar.webp" alt="Botón continuar">
                    </button>
                </form>
            </div>
        </label>
    </div>


    <div class="element_cert">
        <label for="rating3" class="label-element_cert">
            <input type="checkbox" id="rating3" name="rating3">
            <div class="front">
                <p class="text-element_cert">Certificado de estudio semestre en curso y horario</p>
                <img class="certificado-img" src="img/Certificado_de_estudio_semestre_en_curso_y_horario.webp"
                    alt="Certificado de estudio semestre en curso y horario"
                    data-value="Certificado de estudio semestre en curso y horario" id="Certi_Curso_Horario">
            </div>
            <div class="back">
                <form class="MyForm" id="myForm2">
                    <select class="MySelect-form" id="mySelect2" name="mySelect"></select>
                    <p class="text-form" id="selectedText2"></p>
                    <button class="button-form" type="submit">
                        <img src="img/Boton_Continuar.webp" alt="Botón continuar">
                    </button>
                </form>
            </div>
        </label>
    </div>


    <div class="element_cert">

        <p class="text-element_cert">Certificado buena conducta</p>
        <img class="certificado-img" src="img/Certificado_buena_conducta.webp" alt="Certificado buena conducta"
            data-value="Certificado buena conducta" id="Certi_Buena">

    </div>

    <div class="element_cert">

        <p class="text-element_cert">Certificado egresado no graduado</p>
        <img class="certificado-img" src="img/Certificado_egresado_no_graduado.webp"
            alt="Certificado egresado no graduado" data-value="Certificado egresado no graduado" id="Certi_NoGraduado">

    </div>

    <div class="element_cert">

        <p class="text-element_cert">Certificado validez de título</p>
        <img class="certificado-img" src="img/Certificado_validez_de_título.webp" alt="Certificado validez de título"
            data-value="Certificado validez de título" id="Certi_Validez_Titulo">

    </div>

    <div class="element_cert">

        <p class="text-element_cert">Certificado estudiante retirado</p>
        <img class="certificado-img" src="img/Certificado_estudiante_retirado.webp"
            alt="Certificado estudiante retirado" data-value="Certificado estudiante retirado" id="Certi_Retirado">

    </div>


</main>