<header>


</header>

<nav class="nav_Clave">
    <img class="logo_Clave" src="img/ITM3.png" alt="ITM logo">
    <span class="material-icons" id="back_Cla">arrow_back</span>
</nav>
<main class="container_Clave">
    <div class="formularios_Clave">
        <form  method="post" class="formulario_Clave" id="formulario_Clave1" name="formulario_Clave1">
            <p>Cambiar correo</p>
            <input type="text" placeholder="correo nuevo" name="username" id="username" required>
            <p>Contraseña</p>
            <input type="password" placeholder="contraseña actual" name="password" id="password" required>
            <button type="submit" class="confirmar_Clave">Confirmar</button>
        </form>
    </div>


</main>