<main class="container_Constancias">

    <div class="element_Con"> 
        <p class="text-element_Con">Constancias de pago o paz y salvo de educación superior</p>
        <a class="element_Con-vinculo">
            <img class="constancia-img" src="img/Constancias_de_pago_o_paz_y_salvo_de_educación_superior.webp" 
            alt="Constancia de pago o paz y salvo de educación superior" data-value="Constancia de pago o paz y salvo de educación superior" id="Const_Pago"> 
        </a>
    </div>

    <div class="element_Con">
        <p class="text-element_Con">Constancia de extension academica</p>
        <a class="element_Con-vinculo">
            <img class="constancia-img" src="img/Constancia_de_extension_academica.webp" 
            alt="Constancia de extensión académica" data-value="Constancia de extensión académica" id="Const_Extension">
        </a>
    </div>

</main>