<main class="container_Derechos">

    <div class="element_Der"> 
        <p class="text-element_Der">Derechos de grado privado</p>
        <a class="element_Der-vinculo">
            <img class="derechos-img" src="img/Derechos_de_grado_privado.webp" 
            alt="Derechos de grado privados" data-value="Derechos de grado privados" id="Grado_Pri"> 
        </a>
    </div>

    <div class="element_Der">
        <p class="text-element_Der">Derechos de grado colectivo</p>
        <a class="element_Der-vinculo">
            <img class="derechos-img" src="img/Derechos_de_grado_colectivo.webp" 
            alt="Derechos de grado colectivos" data-value="Derechos de grado colectivos" id="Grado_Col">
        </a>
    </div>

</main>