<main class="container_Encuesta" id="container_encuesta">

    <div class="container-ITMimg">
        <a href="/">
            <img class="encuesta-ITMimg" src="img/ITM3.png" alt="Logo ITM">
        </a>
        <a href="/Servicios">
            <img class="arrow_back_encuesta" src="img/arrow_back_blanca.svg" alt="Flecha de regreso a página anterior">
        </a>
    </div>

    <img class="scroll_Encuesta" src="img/flechas_abajo.svg" alt="prueba" id="scroll_Encuesta">

    <div class="calificacion1" id="calificacion1">

        <p>¿Cómo te sentiste utilizando esta herramienta?</p>
        <img class="Encuesta_Preguntas" src="img/Como_te_sentiste_utilizando_esta_herramienta.webp"
            alt="Lengua de seña sonbre como te sentiste utilizando esta herramienta">
        <div class="estrellas">

            <img class="star" src="img/me_enoja.svg" alt="Emoji me enoja" data-star="star 1" id="enoja_1">
            <img class="star" src="img/me_entristece.svg" alt="Emoji me entristece" data-star="star 2" id="triste_1">
            <img class="star" src="img/neutral.svg" alt="Emoji neutral" data-star="star 3" id="neutral_1">
            <img class="star" src="img/me_enfeliz.svg" alt="Emoji me enfeliz" data-star="star 4" id="feliz_1">
            <img class="star" src="img/me_encanta.svg" alt="Emoji me encanta" data-star="star 5" id="encanta_1">

            <img class="star" src="img/me_enoja_color.svg" alt="Emoji me enoja color" data-star="star 1" id="enoja_2">
            <img class="star" src="img/me_entristece_color.svg" alt="Emoji me entristece color" data-star="star 2"
                id="triste_2">
            <img class="star" src="img/neutral_color.svg" alt="Emoji neutral color" data-star="star 3" id="neutral_2">
            <img class="star" src="img/me_enfeliz_color.svg" alt="Emoji me enfeliz color" data-star="star 4"
                id="feliz_2">
            <img class="star" src="img/me_encanta_color.svg" alt="Emoji me encanta color" data-star="star 5"
                id="encanta_2">


        </div>
    </div>

    <div class="calificacion_extra" id="calificacionExtra">
        <p>
            ¿Cuál fue tu experiencia, te pareció útil esta herramienta?
        </p>
        <img class="Encuesta_Preguntas" src="img/Cual_es_tu_experiencia_te_parecio_util_la_herramienta.webp"
            alt="lengua de seña sobre ¿Cuál es tu experiencia, te pareció útil o no?">
        <div class="calificar_extra">
            <img class="extra" src="img/wrong_vacio.svg" alt="malo vacío" data-califica="no" id="wrong_1">
            <img class="extra" src="img/check_vacio.svg" alt="bien vacío" data-califica="si" id="good_1">
            <img class="extra" src="img/wrong.svg" alt="malo" id="wrong_2">
            <img class="extra" src="img/check.svg" alt="bueno" id="good_2">
        </div>

    </div>




    <div class="calificacion2" id="calificacion2">
        <div class="calificacion2_img_p">
            <p>¿Qué mejorarías del menú de ésta herramienta?</p>
            <img class="Encuesta_Preguntas" src="img/Que_mejorarias_del_menu_de_esta_herramienta.webp"
                alt="Lengua de seña sobre ¿Qué mejorarías del menú de ésta herramienta?">
        </div>
        <div class="calificacion2_contenido">
            <div>
                <p>Velocidad</p>
                <img class="encuesta-img" src="img/Velocidad.webp" alt="Lengua de seña que indica velocidad"
                    data-mejor="velocidad">

            </div>
            <div>
                <p>Capacidad de interacción</p>
                <img class="encuesta-img" src="img/Capacidad_de_interaccion.webp"
                    alt="Lengua de seña que indica capacidad de interacción del usuario con la página"
                    data-mejor="capacidad de interacción">

            </div>
            <div>
                <p>Aspecto visual</p>
                <img class="encuesta-img" src="img/Aspecto_visual.webp"
                    alt="Lengua de seña que indica mejorar el aspecto visual de la página" data-mejor="aspecto visual">

            </div>
            <div>
                <p>Más servicios</p>
                <img class="encuesta-img" src="img/Mas_servicios.webp"
                    alt="Lengua de seña que indica dar más servicios en el área de admisiones"
                    data-mejor="más servicios">

            </div>
            <div>
                <p>No mejoraría nada</p>
                <img class="encuesta-img" src="img/No_mejoraria_nada.webp"
                    alt="Lengua de seña que indica que no haría mejoras en la página web" data-mejor="nada">

            </div>
        </div>
    </div>


    <div class="calificacion3" id="calificacion3">
        <p>
            ¿Recomendarías el uso de esta herramienta<br>para ser utilizada en otras dependencias de la
            institución?
        </p>
        <img class="Encuesta_Preguntas"
            src="img/Recomendaria_el_uso_de_esta_herramienta_para_ser_utilizada_en_otras_dependencias_de_la_institucion.webp"
            alt="Lengua de seña sobre recomendación de utilizar la herramienta en otra dependencia de la institución">
        <div class="calificar">
            <img class="check" src="img/wrong_vacio.svg" alt="Emoji triste" data-caras="no" id="sad_1">
            <img class="check" src="img/check_vacio.svg" alt="Emoji Feliz" data-caras="si" id="happy_1">
            <img class="check" src="img/wrong.svg" alt="sad" id="sad_2">
            <img class="check" src="img/check.svg" alt="happy" id="happy_2">
        </div>

    </div>


    <div id="message-container">
        <a href="/">
            <img id="message" src="img/Gracias.webp" alt="Lengua de señas que indica Gracias">
        </a>
    </div>




</main>