<main class="container_Encuesta">

    <div class="container-ITMimg">
        <img class="encuesta-ITMimg" src="img/ITM3.png" alt="Mi GIF">

    </div>



    <div class="calificacion1">
        
        <p>Califica tu experiencia al utilizar el menú</p>

        <div class="estrellas">

            <img class="star" src="img/me_enoja.svg" alt="Emoji me enoja" data-star="star 1" id="enoja_1">
            <img class="star" src="img/me_entristece.svg" alt="Emoji me entristece" data-star="star 2" id="triste_1">
            <img class="star" src="img/neutral.svg" alt="Emoji neutral" data-star="star 3" id="neutral_1">
            <img class="star" src="img/me_enfeliz.svg" alt="Emoji me enfeliz" data-star="star 4" id="feliz_1">
            <img class="star" src="img/me_encanta.svg" alt="Emoji me encanta" data-star="star 5" id="encanta_1">

            <img class="star" src="img/me_enoja_color.svg" alt="Emoji me enoja color" data-star="star 1" id="enoja_2">
            <img class="star" src="img/me_entristece_color.svg" alt="Emoji me entristece color" data-star="star 2" id="triste_2">
            <img class="star" src="img/neutral_color.svg" alt="Emoji neutral color" data-star="star 3" id="neutral_2">
            <img class="star" src="img/me_enfeliz_color.svg" alt="Emoji me enfeliz color" data-star="star 4" id="feliz_2">
            <img class="star" src="img/me_encanta_color.svg" alt="Emoji me encanta color" data-star="star 5" id="encanta_2">
            

        </div>
    </div>

    <div class="calificacion_extra">
        <p>
            ¿Cuál fue tu experiencia, te pareció útil?
        </p>
        <div class="calificar_extra">
            <img class="extra" src="img/wrong_vacio.svg" alt="malo vacío" data-califica="no" id="wrong_1">
            <img class="extra" src="img/check_vacio.svg" alt="bien vacío" data-califica="si" id="good_1">
            <img class="extra" src="img/wrong.svg" alt="malo" id="wrong_2">
            <img class="extra" src="img/check.svg" alt="bueno" id="good_2">
        </div>

    </div>



    <p>¿Qué mejorarías del menú de lengua de señas?</p>
    <div class="calificacion2">

        <div>
            <p>Velocidad</p>
            <a class="element_encuesta">
                <img class="encuesta-img" src="img/gif_500.gif" alt="Mi GIF" data-mejor="velocidad">
            </a>
        </div>
        <div>
            <p>Capacidad de interacción</p>
            <a class="element_encuesta">
                <img class="encuesta-img" src="img/gif_500.gif" alt="Mi GIF"
                    data-mejor="Capacidad de interacción">
            </a>
        </div>
        <div>
            <p>Aspecto visual</p>
            <a class="element_encuesta">
                <img class="encuesta-img" src="img/gif_500.gif" alt="Mi GIF"
                    data-mejor="mejor aspecto visual">
            </a>
        </div>
        <div>
            <p>Más servicios</p>
            <a class="element_encuesta">
                <img class="encuesta-img" src="img/gif_500.gif" alt="Mi GIF" data-mejor="más servicios">
            </a>
        </div>
        <div>
            <p>No mejoraría nada</p>
            <a class="element_encuesta">
                <img class="encuesta-img" src="img/gif_500.gif" alt="Mi GIF" data-mejor="nada">
            </a>
        </div>

    </div>


    <div class="calificacion3">
        <p>
            ¿Recomendarías el uso de esta interfaz de lengua de señas<br>para ser empleada en otras dependencias de la
            institución?
        </p>
        <div class="calificar">
            <img class="check" src="img/wrong_vacio.svg" alt="Emoji triste" data-caras="no" id="sad_1">
            <img class="check" src="img/check_vacio.svg" alt="Emoji Feliz" data-caras="si" id="happy_1">
            <img class="check" src="img/wrong.svg" alt="sad" id="sad_2">
            <img class="check" src="img/check.svg" alt="happy" id="happy_2">
        </div>

    </div>

    
    <div id="message-container">
        <img id="message" src="img/gif_500.gif" alt="Mi GIF">
    </div>


    

</main>