<main class="container_Examen">

    <div class="element">

        <p class="text-element">Examen de acreditación de competencias académicas</p>
        <a class="imglist">
            <img class="listimg-img" src="img/Examen_de_Acreditacion_de_Competencias_Academicas.webp" 
            alt="Examen acreditación de competencias académicas" data-value="Examen acreditación de competencias académicas" id="Exa_Acre">
        </a>
    </div>

    <div class="element">

        <p class="text-element">Examen de habilitacion</p>
        <a class="imglist">
            <img class="listimg-img" src="img/Examen_de_Habilitacion.webp" 
            alt="Examen habilitación" data-value="Examen habilitación" id="Exa_Habi">
        </a>
    </div>


    <div class="element">

        <p class="text-element">Examen de suficiencia pregrado postgrado</p>
        <a class="imglist">
            <img class="listimg-img" src="img/Examen_de_Suficiencia_Pregrado_Postgrado.webp" 
            alt="Examen de suficiencia de pregrado-posgrado" data-value="Examen de suficiencia de pregrado-posgrado" id="Exa_Pre_Pos">
        </a>
    </div>


    <div class="element">

        <p class="text-element">Examen de validacion</p>
        <a class="imglist">
            <img class="listimg-img" src="img/Examen_de_Validacion.webp" 
            alt="Examen de validación" data-value="Examen de validación" id="Exa_Vali">
        </a>
    </div>


    <div class="element">

        <p class="text-element">Examen especial</p>
        <a class="imglist">
            <img class="listimg-img" src="img/Examen_Especial.webp" 
            alt="Examen especial" data-value="Examen especial" id="Exa_Espe">
        </a>
    </div>


    <div class="element">

        <p class="text-element">Examen de suficiencia lengua extrangera</p>
        <a class="imglist">
            <img class="listimg-img" src="img/Examen_de_Suficiencia_Lengua_Extrangera.webp" 
            alt="Examen de suficiencia lengua extranjera" data-value="Examen de suficiencia lengua extranjera" id="Exa_Extran">
        </a>
    </div>


    <div class="element">

        <p class="text-element">Examen supletorio</p>
        <a class="imglist">
            <img class="listimg-img" src="img/Examen_Supletorio.webp" 
            alt="Examen supletorio" data-value="Examen supletorio" id="Exa_Suple">
        </a>
    </div>


</main>