<main class="container_Examen">

    <div class="element">

        <p class="text-element">Examen de acreditación de competencias académicas</p>
        <img class="listimg-img" src="img/Examen_de_Acreditacion_de_Competencias_Academicas.webp"
            alt="Examen acreditación de competencias académicas"
            data-value="Examen acreditación de competencias académicas" id="Exa_Acre">

    </div>

    <div class="element">

        <p class="text-element">Examen de habilitacion</p>
        <img class="listimg-img" src="img/Examen_de_Habilitacion.webp" alt="Examen habilitación"
            data-value="Examen habilitación" id="Exa_Habi">

    </div>

    <div class="element">

        <p class="text-element">Examen de suficiencia pregrado postgrado</p>
        <img class="listimg-img" src="img/Examen_de_Suficiencia_Pregrado_Postgrado.webp"
            alt="Examen de suficiencia de pregrado-posgrado" data-value="Examen de suficiencia de pregrado-posgrado"
            id="Exa_Pre_Pos">

    </div>

    <div class="element">

        <p class="text-element">Examen de validacion</p>
        <img class="listimg-img" src="img/Examen_de_Validacion.webp" alt="Examen de validación"
            data-value="Examen de validación" id="Exa_Vali">

    </div>

    <div class="element">

        <p class="text-element">Examen especial</p>
        <img class="listimg-img" src="img/Examen_Especial.webp" alt="Examen especial" data-value="Examen especial"
            id="Exa_Espe">

    </div>

    <div class="element">

        <p class="text-element">Examen de suficiencia lengua extrangera</p>
        <img class="listimg-img" src="img/Examen_de_Suficiencia_Lengua_Extrangera.webp"
            alt="Examen de suficiencia lengua extranjera" data-value="Examen de suficiencia lengua extranjera"
            id="Exa_Extran">

    </div>

    <div class="element">

        <p class="text-element">Examen supletorio</p>
        <img class="listimg-img" src="img/Examen_Supletorio.webp" alt="Examen supletorio" data-value="Examen supletorio"
            id="Exa_Suple">

    </div>


</main>