<header class="navbar_Home">
    <img class="logo_Home" src="img/ITM3.png" alt="ITM logo">
    <div id="sidebar_Home">
        <a href="/Clave" class="boton_clave">Cambiar correo</a>
    </div>
    <img id="menu_Home" src="img/menu2.png" alt="Menu">
    
</header>


<main class="container_Home">

    
    <label for="rating4" class="label-element_home">
        <input type="checkbox" id="rating4" name="rating4">
        <div class="front_home">
            <p>Bienvenido</p>
            <img class="listimg-home-img" src="img/Bienvenido.webp" alt="Bienvenido">
        </div>
        <div class="back_home">
            <form class="formulario" action="/Registrar-usuario/" method="POST" id="miFormulario">
                <a class="imglist-home">
                    <img class="listimg-home-img" src="img/Nombres_y_Apellidos.webp" alt="Nombres y apellidos">
                </a>

                <input class="input-home" type="text" name="nombre" placeholder="Nombre completo" minlength="4" required>


                <a class="imglist-home">
                    <img class="listimg-home-img" src="img/Documento_Cedula_Carnet.webp" alt="Documeno, cédula o Carné">
                </a>

                <input class="input-home" type="number" name="documento" placeholder="Documento / cédula / Carné"
                    min="10000000" max="9999999999" required>


                <a class="imglist-home">
                    <img class="listimg-home-img" src="img/Programa_Academico.webp" alt="Programa académico">
                </a>

                
                <input class="input-home" type="text" name="programa" placeholder="Programa académico" minlength="4" required>



                <button class="btn-home">
                    <img class="listimg-home-btn-home" src="img/Boton_Continuar.webp" alt="Botón continuar">
                </button>
            </form>
        </div>
    </label>

</main>
