<main class="container_otros">

    <div class="element_otros">

        <p class="text-element-otros">Carnet</p>
        <img class="otros-img" src="img/Carnet.webp" 
        alt="Carnet" data-value="Carnet" id="Otro_carnet">

    </div>
    
    <div class="element_otros">

        <p class="text-element-otros">Materias en paralelo</p>
        <img class="otros-img" src="img/Materias_en_paralelo.webp" 
        alt="Materias_en_paralelo" data-value="Materias en paralelo" id="Otro_Materias">

    </div>

    <div class="element_otros">

        <p class="text-element-otros">Mensualidad aula pedagogica infantil</p>
        <img class="otros-img" src="img/Mensualidad_aula_pedagogica_infantil.webp" 
        alt="Mensualidad_aula_pedagogica_infantil" data-value="Mensualidad aula pedagógica infantil" id="Otro_Pedagogica">

    </div>

    <div class="element_otros">

        <p class="text-element-otros">Microcurriculo asignatura</p>
        <img class="otros-img" src="img/Microcurriculo asignatura.webp" 
        alt="Microcurriculo asignatura" data-value="Microcurrículo asignatura" id="Otro_Micro">

    </div>

    <div class="element_otros">

        <p class="text-element-otros">Sillas vacías</p>
        <img class="otros-img" src="img/Sillas_vacias.webp" 
        alt="Sillas_vacias" data-value="Sillas vacías" id="Otro_Sillas">

    </div>

    <div class="element_otros">

        <p class="text-element-otros">Vacacionales</p>
        <img class="otros-img" src="img/Vacacionales.webp" 
        alt="Vacacionales" data-value="Vacacionales" id="Otro_Vacas">

    </div>




    <div class="element_otros">
        <label for="rating5" class="label-element_otros">
            <input type="checkbox" name="rating5" id="rating5">
            <div class="front_Otros">
                <p class="text-element-otros">Carga académica adicional</p>
                <img class="otros-img" src="img/Carga_académica_adicional.webp" 
                alt="Carga_académica_adicional" data-value="Carga académica adicional" id="Otro_Carga_Aca">
            </div>
            <div class="back_Otros">
                <form class="MyForm_Otros" id="myForm_Otros">
                    <select class="MySelect-Form_Otros" id="mySelect_Otros" name="mySelect_Otros"></select>
                    <p class="text-form_Otros" id="selectedTextOtros"></p>
                    <button class="button-form_Otros" type="submit">
                        <img src="img/Boton_Continuar.webp" 
                        alt="Boton_Continuar">
                    </button>
                </form>
            </div>     
        </label>
    </div>


    <div class="element_otros">

        <p class="text-element-otros">Diplomas curso de extensión académica</p>
        <img class="otros-img" src="img/Diplomas_curso_de_extensión_académica.webp" 
        alt="Diplomas_curso_de_extensión_académica" data-value="Diplomas curso de extensión académica" id="Otro_Diplo_Ext_Aca">

    </div>
  

    
</main>