<section class="section_Res">
    <header class="header-Resumen">
        <a href="/">
            <img class="img-header_Resumen" src="img/ITM3.png" alt="Mi GIF">
        </a>
        <span class="material-icons" id="back_Res">arrow_back</span>
    </header>

    <div class="loader-wrapper" id="loader_resumen">
        <div class="loader"></div>
    </div>

    <main class="container_Resumen" id="content">
        <div class="dividir_Res">


            <img class="img-resumen" src="img/Resumen.webp"
                alt="Lengua de seña que indica el resumen de la solicitud hecha por el usuario">

            <div class="span_resumen">
                <span id="span1"></span>
                <span id="span2"></span>
                <span id="span3"></span>
                <span id="span4"></span>
            </div>

            <a class="temporizador_Res" href="/Encuesta">
                <p id="temporizador"></p>
                <img class="img-arrow_forward_Res" src="img/arrow_forward.svg" alt="arrow forward">
            </a>


            {{!-- <div class="wave wave1"></div>
            <div class="wave wave2"></div>
            <div class="wave wave3"></div>
            <div class="wave wave4"></div> --}}
        </div>
    </main>
</section>