<main class="container_Servicios">

    <div class="examenes">

        <p class="solicitudes">Exámenes</p>
        <a href="/Examenes">
            <img class="solicitudes-img" src="img/Examenes.webp" 
            alt="Exámenes">
        </a>
    </div>

    <div class="certificados">
        <p class="solicitudes">Certificados</p>
        <a href="/Certificados">
            <img class="solicitudes-img" src="img/Certificados.webp" 
            alt="Certificados">
        </a>
    </div>

    <div class="derechos">
        <p class="solicitudes">Derechos de grado</p>
        <a href="/Derechos">
            <img class="solicitudes-img" src="img/Derechos_de_Grados.webp" 
            alt="Derechos de grado">
        </a>
    </div>

    <div class="constancias">
        <p class="solicitudes">Constancias</p>
        <a href="/Constancias">
            <img class="solicitudes-img" src="img/Constancias.webp" 
            alt="Constancias">
        </a>
    </div>

    <div class="otros">

        <p class="solicitudes">Otros</p>
        <a href="/Otros">
            <img class="solicitudes-img" src="img/Otros.webp" 
            alt="Otros">
        </a>

    </div>

</main>