.barra{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    align-items: center;
    justify-content:space-between;
    align-content: stretch;
    gap: 1rem;

    width: calc(100vw - 0.1rem);
    height: 100%;
    margin: 0;
    padding: 1rem;
    
    background-color: #001D4E;

    overflow-x: hidden;
}  

.logo-itm .logo-itm-img{
    width: auto;
    height: clamp(5rem, 4vw + .5rem, 20rem);
}
    
    

.a_home{
    text-decoration: none;
    color: white;
    cursor: pointer;
    #home{
        font-size: clamp(5rem, 5vw + .5rem, 8rem);
    }
}


.arrow-back{
    text-decoration: none;
    color: white;
    background-color: none;
    background: none;
    cursor: pointer;
    #arrow_back{
        font-size: clamp(5rem, 5vw + .5rem, 9rem);
    }
    #arrow_back_servicios{
        font-size: clamp(5rem, 5vw + .5rem, 9rem);
    }
}