.barra{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    align-items: center;
    justify-content:space-around;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    
    background-color: #001D4E;

    overflow-x: hidden;

    --tamaño_letra: 9vmin;
}  

.logo-itm .logo-itm-img{
    width: auto;
    height: 9vmin;
}
    
.a_home{
    text-decoration: none;
    color: white;
    cursor: pointer;
    #home{
        font-size: var(--tamaño_letra);
    }
}

.arrow-back{
    text-decoration: none;
    color: white;
    background-color: none;
    background: none;
    cursor: pointer;
    #arrow_back{
        font-size: var(--tamaño_letra);
    }
    #arrow_back_servicios{
        font-size: var(--tamaño_letra);
    }
}

@media (max-height: 40rem){
    .barra{
        display: flex;
        flex-wrap: wrap;
    }

}