.barra{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    align-items: center;
    justify-content:space-around;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    width: calc(100vw - 0.1rem);
    height: 100%;
    margin: 0;
    padding: 1rem;
    
    background-color: #001D4E;

    overflow-x: hidden;

    --tama単o_letra: 9vmin;
}  

.logo-itm .logo-itm-img{
    width: auto;
    /* height: clamp(4rem, 4vw + .5rem, 20rem); */
    height: 9vmin;
}
    
    

.a_home{
    text-decoration: none;
    color: white;
    cursor: pointer;
    #home{
        /* font-size: clamp(4rem, 4vw + .5rem, 8rem); */
        font-size: var(--tama単o_letra);
    }
}


.arrow-back{
    text-decoration: none;
    color: white;
    background-color: none;
    background: none;
    cursor: pointer;
    #arrow_back{
        /* font-size: clamp(4rem, 4vw + .5rem, 9rem); */
        font-size: var(--tama単o_letra);
    }
    #arrow_back_servicios{
        /* font-size: clamp(4rem, 4vw + .5rem, 9rem); */
        font-size: var(--tama単o_letra);
    }
}

@media (max-height: 40rem){
    .barra{
        display: flex;
        flex-wrap: wrap;
    }

}