.container_otros{
    display: grid;
    grid-auto-flow: dense;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, clamp(18rem, 20vw + .5rem, 42rem)), 1fr));
    grid-auto-rows: 7vmin auto auto;

    container-type: inline-size;

    margin: 0;
    padding: 3%;

    background: rgb(0,29,78);
    background: -moz-linear-gradient(180deg, rgba(0,29,78,1) 0%, rgba(90,90,184,1) 50%, rgba(28,131,222,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,29,78,1) 0%, rgba(90,90,184,1) 50%, rgba(28,131,222,1) 100%);
    background: linear-gradient(180deg, rgba(0,29,78,1) 0%, rgba(90,90,184,1) 50%, rgba(28,131,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001d4e",endColorstr="#1c83de",GradientType=1);

    place-items: center;
    align-content: center;

    word-wrap: break-word;
    overflow-wrap: break-word;
}

.element_otros{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1rem;

    place-items: center;
    align-content: center;

    margin: 0;
    height: 100%;
    padding: 3%;
    

    border-radius: 5%;
    background: rgb(0,29,78);
    background: -moz-linear-gradient(180deg, rgba(0,29,78,1) 0%, rgba(90,90,184,1) 50%, rgba(28,131,222,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,29,78,1) 0%, rgba(90,90,184,1) 50%, rgba(28,131,222,1) 100%);
    background: linear-gradient(180deg, rgba(0,29,78,1) 0%, rgba(90,90,184,1) 50%, rgba(28,131,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001d4e",endColorstr="#1c83de",GradientType=1);
}

.text-element-otros{
    text-align: center;
    
    width: clamp(15rem, 20vw + .5rem, 40rem);
    font-size: clamp(0.3rem, 1vw + .5rem, 2.5rem);
    line-height: 100%;
    margin: 0;

    color: white;
}

.otros-img{
    width: clamp(15rem, 20vw + .5rem, 40rem);
    height: clamp(15rem, 20vw + .5rem, 40rem);
    object-fit: cover;

    box-shadow: 0.1rem 0.1rem 1.9rem black;
    border-radius: 5%;
    
    cursor: pointer;
}


/* Flip card */

.label-element_otros{
    grid-row: span 3;
    position: relative;
    width: auto;
    height: 100%;
    
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "O";
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    line-height: 2.5rem;
    color: white;
}

.label-element_otros input{
    display: none;
}

.label-element_otros div{
    display: flex;
    flex-direction: column;
    align-items: center;
    backface-visibility: hidden;
    transition: 0.5s;
}

.front_Otros,
.back_Otros{
    grid-area: O;
}

.label-element_otros .front_Otros{
    transform: perspective(100rem) rotateY(0deg);
    gap: 3rem;
}

.label-element_otros .back_Otros{
    background: #8EE6FE;
    background: -moz-linear-gradient(top, #167DDC 0%, #50B8F3 60%, #8EE6FE 100%);
    background: -webkit-linear-gradient(top, #167DDC 0%, #50B8F3 60%, #8EE6FE 100%);
    background: linear-gradient(to bottom, #167DDC 0%, #50B8F3 60%, #8EE6FE 100%);


    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2rem;

    transform: perspective(100rem) rotateY(180deg);
}

.MyForm_Otros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    font-size: clamp(2rem, 0.5vw + .5rem, 5rem);
}

.MySelect-Form_Otros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: clamp(10rem, 5vw + .5rem, 25rem);
    height: 5dvb;
    border-radius: 1rem;
}

.button-form_Otros{   
    border-radius: 1rem;
}

.button-form_Otros img{
    width: auto;
    height: clamp(10rem, 2vw + .5rem, 25rem);
    object-fit: cover;
    cursor: pointer;
}

.label-element_otros input:checked~.front_Otros{
    transform: perspective(100rem) rotateY(180deg);
}

.label-element_otros input:checked~.back_Otros{
    transform: perspective(100rem) rotateY(360deg);
}

.label-element_otros option:nth-child(even){
    background-color: lightgreen;
}

.label-element_otros option:nth-child(odd){
    background-color: lightgray;
}

@media (900px <= height <= 1300px){
    .container_otros{
        height: 110dvb;
    }
}

@media (height >= 1300px) {
    .container_otros{
        height: 100dvb;
    }
}