.header-Resumen {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;

}

.img-header_Resumen {
  width: clamp(30rem, 15vw + .5rem, 40rem);
  height: auto;
  cursor: pointer;
}

#back_Res {
  text-decoration: none;
  color: white;
  font-size: clamp(10rem, 5vw + .5rem, 20rem);
  cursor: pointer;
}

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid #f3f3f3;
  border-top: 0.5rem solid #3498db;
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container_Resumen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3rem;

  width: 100%;
  height: 100dvb;

  background: #8EE6FE;
  background: -moz-linear-gradient(top, #167DDC 0%, #50B8F3 60%, #8EE6FE 100%);
  background: -webkit-linear-gradient(top, #167DDC 0%, #50B8F3 60%, #8EE6FE 100%);
  background: linear-gradient(to bottom, #167DDC 0%, #50B8F3 60%, #8EE6FE 100%);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.container_Resumen .img-resumen {
  width: clamp(30rem, 20vw + .5rem, 60rem);
  border-radius: 2rem;
  box-shadow: 0.1rem 0.1rem 0.8rem 0.5rem black;
  /* height: clamp(20rem, 20vw + .5rem, 35rem); */
  height: auto;
}

.container_Resumen  .img-arrow_forward_Res{
  width: clamp(10rem, 5vw + .5rem, 20rem);
}

.container_Resumen span {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  font-size: clamp(2rem, 1.5vw + .5rem, 10rem);
  font-family: cursive;

  background-color: #167DDC;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.2rem black;
  border-radius: 2rem;
  padding: 1rem;
}

.container_Resumen span:nth-child(5)::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: white;
  animation: lineAnimation 1s infinite;
  padding-bottom: 0.2rem;
}

@keyframes lineAnimation {

  0%,
  100% {
    left: 50%;
    transform: translateX(-50%);
    width: 0;
  }

  25%,
  75% {
    left: 0;
    transform: translateX(0);
    width: 100%;
  }
}


.wave {
  position: absolute;
  top: 70%;
  width: 300%;
  height: 100rem;
  background: no-repeat url("/img/wave2.png");
  background-size: 100% 50%;
  z-index: -1;
}

.wave.wave1 {
  animation: animate1 20s alternate infinite;
  z-index: -1;
  opacity: 0.8;
  animation-delay: 0s;
  top: 80%;
}

.wave.wave2 {
  animation: animate1 10s alternate-reverse infinite;
  z-index: -2;
  opacity: 0.5;
  animation-delay: -5s;
  top: 65%;
}

.wave.wave3 {
  animation: animate1 20s alternate infinite;
  z-index: -3;
  opacity: 0.2;
  animation-delay: -2s;
  top: 75%;
}

.wave.wave4 {
  animation: animate1 5s alternate-reverse infinite;
  z-index: -4;
  opacity: 0.7;
  animation-delay: -5s;
  top: 70%;
  transform: scaleX(-1);
}

@keyframes animate1 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: clamp(30rem, 80vw + .5rem, 100rem);
  }
}