.section_Res{
  display: grid;
  grid-template-areas: 
  "A"
  "B"
  ;

  gap: 2%;

  background: #8EE6FE;
  background: -moz-linear-gradient(top, #167DDC 0%, #50B8F3 60%, #8EE6FE 100%);
  background: -webkit-linear-gradient(top, #167DDC 0%, #50B8F3 60%, #8EE6FE 100%);
  background: linear-gradient(to bottom, #167DDC 0%, #50B8F3 60%, #8EE6FE 100%);
}

.header-Resumen {
  grid-area: A;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  width: 100%;
  z-index: 2;
}

.img-header_Resumen {
  min-width: 30%;
  max-width: 80%;
  object-fit: cover;
  cursor: pointer;
}

#back_Res {
  text-decoration: none;
  color: white;
  font-size: clamp(5rem, 5vw + .5rem, 25rem);
  cursor: pointer;
}

/*//// Loader ////*/

.loader-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  z-index: 9999;

  background-color: rgba(0, 0, 0, 0.8);
}

.loader {
  justify-content: center;
  align-items: center;

  border: 0.5rem solid #f3f3f3;
  border-top: 0.5rem solid #3498db;
  border-radius: 50%;

  width: clamp(10rem, 20vw + .5rem, 40rem);
  height: clamp(10rem, 20vw + .5rem, 40rem);

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*//// Container ////*/

.container_Resumen {
  grid-area: B;
  width: 100%;
  height: auto;
  z-index: 5;

  position: relative;

}

.dividir_Res{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;

  gap: 3%;
  height: 100svh;
  padding: 3%;
}


.img-resumen {
  border-radius: 2rem;
  box-shadow: 0.1rem 0.1rem 0.8rem 0.5rem black;

  width: clamp(15rem, 20vw + .5rem, 45rem);
  height: clamp(15rem, 20vw + .5rem, 45rem);
  object-fit: cover;
}

.temporizador_Res{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0rem 20%;

  text-decoration: none;
  color: black;
}

#temporizador{
  font-size: clamp(2rem, 4vw + .5rem, 8rem);
}

.img-arrow_forward_Res{
  width: clamp(5rem, 5vw + .5rem, 25rem);
  object-fit: cover;
}

.dividir_Res span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  max-height: 100%;
  max-width: 100%;

  font-size: clamp(1rem, 2vw + .5rem, 5rem);
  font-family: cursive;

  background-color: #167DDC;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.2rem black;
  border-radius: clamp(0.5rem, 1vw + .5rem, 2rem);
  padding: 2%;
}

.dividir_Res span:nth-child(5)::after {
  content: "";
  display: block;
  position: absolute;

  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding-bottom: 0.2rem;
  width: 0;
  height: 1%;

  background-color: white;
  animation: lineAnimation 1s infinite;
}

@keyframes lineAnimation {

  0%,
  100% {
    left: 50%;
    transform: translateX(-50%);
    width: 0;
  }

  25%,
  75% {
    left: 0;
    transform: translateX(0);
    width: 100%;
  }
}


.wave {
  position: absolute;

  top: 50%;
  width: 300%;
  height: 70%;
  z-index: -1;

  background: no-repeat url("/img/wave2.png");
  background-size: 100% 50%;
}

.wave.wave1 {
  animation: animate1 15s alternate infinite;
  z-index: -1;
  opacity: 0.8;
  animation-delay: 0s;
  top: 80%;
}

.wave.wave2 {
  animation: animate1 5s alternate-reverse infinite;
  z-index: -2;
  opacity: 0.5;
  animation-delay: -5s;
  top: 65%;
}

.wave.wave3 {
  animation: animate1 15s alternate infinite;
  z-index: -3;
  opacity: 0.2;
  animation-delay: -2s;
  top: 75%;
}

.wave.wave4 {
  animation: animate1 3s alternate-reverse infinite;
  z-index: -4;
  opacity: 0.7;
  animation-delay: -5s;
  top: 70%;
  transform: scaleX(-1);
}

@keyframes animate1 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: clamp(30rem, 80vw + .5rem, 100rem);
  }
}
