.container_Examen{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));

    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: stretch;
    gap: 1rem;  

    
    margin: 0;
    padding: 2rem;

    width: calc(100vw - 0.1rem);

    background-color: #20407fe8;
    border: 0.3rem solid black;

    overflow-x: hidden;
}

.element{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 3.8rem;


    width: 100%;
    height: clamp(50rem, 50vw + .5rem, 80rem);
}

.element:nth-child(1),
.element:nth-child(3),
.element:nth-child(6){
    gap: 0rem;
}


.text-element{
    padding-top: 4%;
    font-size: clamp(1rem, 5vw + .5rem, 2.5rem);
    color: white;
    max-width: 38rem;
}

.listimg-img{
    width: clamp(35rem, 20vw + .5rem, 50rem);
    height: clamp(35rem, 20vw + .5rem, 50rem);;
    object-fit: cover;
    box-shadow: 0.1rem 0.1rem 1.9rem black;
}



